@media only screen and (max-width: 670px) {
  .listas {
    display: none; }

  .lista_dos {
    z-index: 3;
    position: fixed;
    background: rgba(21, 23, 53, 0.87);
    height: 60px;
    width: 100%; }
    .lista_dos img {
      height: 100%;
      padding: 10px; }
    .lista_dos #btn_menu {
      position: absolute;
      top: 18;
      right: 15;
      color: white; }
    .lista_dos #itemcart {
      position: absolute;
      width: 30px;
      top: 15;
      left: 15; }
      .lista_dos #itemcart a {
        color: white; }
        .lista_dos #itemcart a span {
          margin: 0;
          position: absolute;
          top: -10;
          right: -3;
          font-size: 1rem;
          background: orange;
          font-weight: 700;
          padding: 0 5px;
          border-radius: 10px; }

  .sidenav li h4 {
    font-family: unset;
    font-size: 1.5rem;
    font-weight: bolder; } }
@media screen and (min-width: 680px) {
  .lista_dos {
    display: none; } }
@media (max-width: 768px) {
  .listas img {
    width: 55px; }

  .listas {
    height: 60px; }

  .listas ul li {
    padding: 25px 5px; }
    .listas ul li a {
      font-size: 1rem; }

  #itemcart {
    right: 10; } }

/*# sourceMappingURL=media.css.map */
