.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.199);
	z-index: 3;
	opacity:0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
    width: 70%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    box-shadow: 3px 10px 30px 10px #80808080;
    overflow: hidden;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

//editar los hr
#openModal{
    #info{
        position: relative;
        left: 0;
        #description{
            position: relative;
            height: 230px;
            overflow: auto;
        }
    }
    #add{
        margin: -5px -20px;
        top: -36;
        color: white;
        position: absolute;
        width: 100%;
        padding: 7px;
        font-size: 1.2rem;
        background: #6ac259;
        text-transform: capitalize;
        font-family:unset;
        font-weight: 300;
        z-index: 4;
        animation-name: downPopAdd;
        animation-delay: 1s;
        animation-duration: 4s;
        animation-play-state: paused;
    }
    #content-img{
        position: relative;
        border-right: 1px solid rgba(128, 128, 128, 0.5);
        img{
            width: 80%;
        }
        #check{
            width: 25%;
            position: absolute;
            bottom: 50;
            left: 150;
            text-shadow: 0px 0px 5px 10px #6ac259;
            opacity: 0;
            animation-name: seeImg;
            animation-duration: .8s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
        }
    }
    #btns{
        padding: 20px;
        border-top: 1px solid rgba(128, 128, 128, 0.5);
        position: relative;
        margin-top: 10px;
        .btnBuy{
            width: 80%;
            margin: 5px auto;
        }
        .comprar{
                width: 80%;
                padding: 1%;
                border: 1px solid #40863b;
                color: #40863b;
                font-size: 1.4em;
                box-shadow: inset 0 0 0 0 #40863b;
                transition: all ease-out 0.4s; }
                .btnBuy:hover {
                  box-shadow: inset 0 100px 0 0 #40863b;
                  color: white; }
        #close{
                width: 80%;
                padding: 1%;
                border: 1px solid #ff0000;
                background: #ff0000;
                color: white;
                font-size: 1.4rem;
                box-shadow: inset 0 0 0 0 #ff0000;
                transition: all ease-out 0.4s; 
                &:hover{
                    box-shadow: inset 0 100px 0 0 #770000;
                  color: white;
                }
        }
    }
}
#info span{
    text-transform: uppercase;
    font-size: 1.3rem;
    top: 0;
}
//Animacion ADD
@keyframes downPopAdd{
    0%{top: -35;}
    25%{top: 4;}
    75%{top: 4;}
    100%{top: -30;}
}
@keyframes seeImg{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
