.producto {
  background: #fafafa;
  padding-bottom: 2% !important;
  margin: 20pt;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width: 250px;
  border-radius: 7px;
  transition: .5s; }
  .producto img {
    transition: .6s;
    width: 80%; }
  .producto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 1px rgba(223, 223, 223, 0.411);
    cursor: pointer; }
    .producto:hover #titlePrice {
      transition: .5s;
      color: red; }
    .producto:hover img {
      transition: .6s;
      transform: scale(1.2); }

#titleProducto {
  margin-bottom:0;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Montserrat', thin; }
  #titleProducto:hover {
    transition: .5s;
    text-shadow: 0 0 5px 2px white; }

#titlePrice {
  margin:0;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Montserrat', Light300; }

.alineado {
  margin-bottom: 80pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#cop {
  font-size: 10pt;
  font-weight: lighter;
  font-family: 'Montserrat', thin; }

.btnBuy {
  width: 50%;
  padding: 2%;
  border: 1px solid #40863b;
  color: #40863b;
  font-size: 1em;
  box-shadow: inset 0 0 0 0 #40863b;
  transition: all ease-out 0.4s; }
  .btnBuy:hover {
    box-shadow: inset 0 100px 0 0 #40863b;
    color: white; }

#more {
  margin-top: 5%;
  font-size: .8rem;
  color: #8b8b8b; }
/*::::::::::::::::::::::::// FIN Estilos Productos/::::::::::::::::::::::::::*/

/*::::::::::::::::::::::::// INICIO Estilos item Cart/::::::::::::::::::::::::::*/
.item {
  max-width: 62.5rem;
  margin: 0 auto;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  background: #fff;
  min-height: 8.75rem;
  align-items: center;
  justify-content: space-between;
}
.item--image {
  padding: 1.5rem;
}
.item--image img {
  display: block;
  width: 102px;
}
.item--description {
  flex-grow: 1;
  font-size: 0.875rem;
}
.item--description h3 {
  font-size: 1rem;
  padding: 0;
  margin: 0 0 0.5rem 0;
}
.item--description .remove {
  display: block;
  margin-top: 2rem;
}
.item--stepper {
  width: 122px;
}
.item--price {
  padding: 1.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  min-width: 8rem;
  text-align: right;
}

/*Meida query*/
@media (min-width:200px) and (max-width:725px){
  .producto:hover{
    transform: none;
  }
  .producto{
    width: 190px;
    margin: 0;
  }
  .producto img{
    margin-bottom: -30;
  }.producto:hover img{
    transform: scale(1.08);
  }
  #titleProducto{
    font-size: 1.8rem;
  }
}
