.info_service {
    }
    .info_service h4 {
      text-transform: uppercase;
      font-size: 4rem;
      margin-bottom: 5%; }
  
  .section_info {
    margin-bottom: 3%; }
    .section_info img {
      width: 20%;
      margin: 0 3%;
      -moz-widht: 25%;
      -webkit-width: 25%; }
      .section_info img:hover {
        color: red; }
    .section_info h6 {
      margin: 6% 0;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 100; }
    .section_info p {
      text-align: left;
      font-weight: 100;
      font-size: 1rem;
      text-overflow: clip;
      padding-right: 20%; }
  
  /*# sourceMappingURL=service.css.map */
  