.info_service{
    margin: -5% 0 5% 0;  
    h4{
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 5%;
    }
}
.section_info{
    margin-bottom: 3%;
    //border: 1px solid black;
    img{
        width: 20%;
        margin: 0 3%;
        -moz-widht: 25%;
        -webkit-width: 25%;
        &:hover{
            color: red;
        }
    }
    h6{
        margin: 6% 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 100;
    }
    p{
        text-align: left;
        font-weight: 100;
        font-size: 1rem;
        text-overflow: clip;
        padding-right: 20%;
    }
}