@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,400);

@font-face{
  font-family: Myriad;
    src: url(../fonts/IndieFlower.ttf);
}
@font-face{
  font-family:Myriad-Hebrew;
  src: url(../fonts/myriad_hebrew_bold_2.otf);

}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.logo {
	margin: 0;
	padding: 10px 15px 5px 0;
	z-index: 3;
	bottom: 52vh;
	display: block;
	position: relative;
	background: linear-gradient(to right, #ffffff00, #e0e0e0, rgba(0, 0, 255, 0)); }
	.logo img {
	  width: 30%; }
	  /*::::::::::::::::::::::::// formulario footer/::::::::::::::::::::::::::*/
footer {
  margin-top:15em;
  background: rgba(21, 23, 53, 0.87); }

#piecera {
  padding: 1.5% 2% 0 2%; 
margin-bottom: 0px;}

#formulario {
  z-index: 2;
  background: grey;
  bottom: 70pt;
  padding: 2% 6% 3% 6%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 26px 1px #dadada40;
  text-align: center; }
  #formulario #send {
    color: red;
    border: 1px solid red;
    margin: 3% 0 2% 0;
    width: 100%;
    box-shadow: inset 0 0 0 0 red;
    border-radius: 5px;
    font-size: 1.2rem; }
    #formulario #send:hover {
      box-shadow: inset 0 100px 0 0 red;
      color: white; }
  #formulario textarea {
    text-align: center;
    border: 1px solid #9e9e9e;
    transition: .3s;
    border-radius: 5px; }
    #formulario textarea:focus {
      outline: none;
      border: 1px solid white; }
    #formulario textarea:hover {
      transition: .3s;
      border: 1px solid white; }
  #formulario input {
    text-align: center;
    color: white;
    font-size: 1rem; }
    #formulario input:hover {
      transition: .3s;
      border: 1px solid white; }
  #formulario h6 {
    font-size: 3rem;
    font-weight: 300;
    color: white; }
    #formulario h6::after {
      content: "nos";
      color: red; }

/*::::::::::::::::::::::::// formulario/::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::// Redes sociales ///::::::::::::::::::::::::::*/
#redes {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  bottom: 60pt; }
  #redes p {
    margin-bottom: 10pt; }

#copyright {
  color: rgba(255, 255, 255, 0.459);
  border-top: 1px solid rgba(255, 255, 255, 0.459);
  padding: 20pt 10pt; }
  #copyright a {
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.459); }
    #copyright a:hover {
      color: #5c5cfc; }

#terminos {
  display: inline; }

#socialicon {
  display: inline; }
  #socialicon a {
    color: rgba(255, 255, 255, 0.459);
    margin: 5%; }
    #socialicon a:hover {
      transition: .3s;
      color: white;
      text-shadow: 0 0 10px 3px grey; }

#centrofooter {
  height: 460px; }

#pntvent .info {
  margin: 0;
  padding-bottom: 10pt;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459);
  color: rgba(255, 255, 255, 0.521);
  font-size: .8rem;
  font-weight: 400; }
#pntvent #site {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.521); }
  .deliveryagent{
    font-weight: 400;
    font-size: .8rem; }
#pntvent div {
  margin-top: 2%; }

#title_pt {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459); }
  #title_pt::after {
    content: "Autorizados";
    color: red; }

#map {
  margin-top: 2%;
  width: 100%; }

#title_geo {
  margin: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.459); }
  #title_geo::before {
    content: "Localizador";
    color: red; }

#map {
  margin-top: 2%;
  height: 300px;
  width: 100%; }
