<div id="openModal" class="modalDialog">
	<div class="row">
            <div class="center-align" id="add">Producto Agregado Al Carro</div>
		<!-- Imagen -->
		<div class=" center-align col m4 l4" id="content-img">
            <img src="media/img/Flekosteel.png" alt="">
            <img id="check" src="media/icon/svg/009-check.svg" alt="">
        </div>
        <!-- contenido -->
        <div class="col m4 l8">
            <div class="col m12 l12 center-align"><h3>Flekosteel</h3></div>
            <div class="col m12 l12" id="info">
                <span class="col l8 center-align">descripcion</span>
                <span class="col l4 center-align">cantidad</span>
                <div class="col m8 l8" id="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis accusantium et voluptatum non sequi voluptates saepe, corrupti labore sit autem. Minus animi esse magni soluta, impedit illum ipsum accusantium a! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime commodi at quae eaque tempora rerum exercitationem perferendis praesentium eum laboriosam voluptatum laborum ea dolorum quidem numquam expedita, dolor nemo repudiandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odio laudantium similique incidunt accusantium? Perspiciatis ipsum ducimus vitae mollitia repudiandae quae cum nisi eos, quaerat, doloremque, molestiae eligendi consequuntur nemo.</div>

                <div class="col m4 l4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est officiis temporibus nesciunt alias praesentium</div>
            </div>
        </div>
                <div class="center-align col l12" id="btns">
                    <a href="" class="btnBuy waves-effect waves-light waves-blue padd comprar" id="">Ir al carrito</a> 
                    <!-- btn salir -->
                    <a href="#close" class="btnBuy waves-effect waves-light waves-blue padd" id="close">Seguir comprando</a> 
                </div>
	</div>
</div>