.contenedor{
  margin:0 5% 7% 5%;
}
#Cardiz {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px; }
    #Cardiz #carte {
      -webkit-transform-origin: 50% 50% 30px;
      -webkit-transform: rotateY(50);
      -webkit-transform-style: preserve-3d;
      -webkit-transition: all 1s ease;
      -moz-transform-origin: 50% 50% 30px;
      -moz-transform: rotateY(50);
      -moz-transform-style: preserve-3d;
      -moz-transition: all 1s ease;
      transform-origin: 50% 50% 30px;
      transform: rotateY(25deg);
      transform-style: preserve-3d;
      transition: all 1s ease;
      /* OMBRE */
      }
      #Cardiz #carte:hover {
        -webkit-transform: rotateY(50deg);
        -moz-transform: rotateY(50deg);
        transform: rotateY(0deg); }
  
  /*:::::: Derecha :::::::::*/
  #Carder {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px; }
    #Carder #carte {
      -webkit-transform-origin: 50% 50% 30px;
      -webkit-transform: rotateY(50);
      -webkit-transform-style: preserve-3d;
      -webkit-transition: all 1s ease;
      -moz-transform-origin: 50% 50% 30px;
      -moz-transform: rotateY(50);
      -moz-transform-style: preserve-3d;
      -moz-transition: all 1s ease;
      transform-origin: 50% 50% 30px;
      transform: rotateY(-25deg);
      transform-style: preserve-3d;
      transition: all 1s ease;
      /* OMBRE */
      /*border: 0.8px solid rgba(148, 148, 148, 0.719);*/ }
      #Carder #carte:hover {
        -webkit-transform: rotateY(50deg);
        -moz-transform: rotateY(50deg);
        transform: rotateY(0deg); }
  
  
  .cardText {
    -webkit-box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, 0.13) !important;
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.13) !important;
    /*border: 0.8px solid rgba(148, 148, 148, 0.486);*/ 
    padding: 5% 1% 10% 1%;
    text-align: center; }
    .cardText h5 {
      font-size: 2.5rem; }
    .cardText p {
      font-weight: 200;
      padding: 2%;
      text-align: center;
      font-size: 1.2rem; }
  
  img[id="CardImg"] {
    margin: 7% 0 4% 0;
    width: 45%; }
  
  .btn {
    margin: 10pt 0 0 0;
    width: 50%; }