.parallax-container {
    height: 450px;
    margin-bottom: 7%; }
  
  #five {
    justify-content: center;
    position: relative;
    top: 80px;
    font-size: 10rem;
    font-weight: 400; }
    #five #text-parallax {
      margin: 0;
      position: absolute;
      top: 160;
      font-size: 3rem;
      width: 100%;
      text-transform: uppercase;
      line-break: normal;
      letter-spacing: 10;
      font-family: inherit;
      font-weight: 100;
      animation-delay: 1s;
      animation-duration: 3s;
      animation-name: titileo_text_cont;
      animation-iteration-count: infinite; }
  
  #fourty {
    justify-content: center;
    position: relative;
    top: 80px;
    font-size: 10rem;
    font-weight: 400; }
    #fourty #text-parallax {
      margin: 0;
      position: absolute;
      top: 160;
      font-size: 3rem;
      width: 100%;
      text-transform: uppercase;
      line-break: normal;
      letter-spacing: 10;
      font-family: inherit;
      font-weight: 100;
      animation-delay: 4s;
      animation-duration: 3s;
      animation-name: titileo_text;
      animation-iteration-count: infinite; }
    #fourty i {
      color: red;
      animation-delay: 4s;
      animation-duration: 3s;
      animation-name: titileo_text;
      animation-iteration-count: infinite; }
  
  #prod {
    justify-content: center;
    position: relative;
    top: 80px;
    font-size: 10rem;
    font-weight: 400; }
    #prod #text-parallax {
      margin: 0;
      position: absolute;
      top: 160;
      font-size: 3rem;
      width: 100%;
      text-transform: uppercase;
      line-break: normal;
      letter-spacing: 10;
      font-family: inherit;
      font-weight: 100;
      animation-delay: 6s;
      animation-duration: 3s;
      animation-name: titileo_text_prod;
      animation-iteration-count: infinite; }
    #prod i {
      color: red;
      animation-delay: 6s;
      animation-duration: 3s;
      animation-name: titileo_text_prod;
      animation-iteration-count: infinite; }
  
  @keyframes titileo {
    0% {
      text-shadow: 0 0 0px; }
    50% {
      text-shadow: 0 0 5px; }
    100% {
      text-shadow: 0 0 0px; } }
  @keyframes titileo_text {
    0% {
      text-shadow: 0 0 0px; }
    50% {
      text-shadow: 0 0 10px; }
    100% {
      text-shadow: 0 0 0px; } }
  @keyframes titileo_text_cont {
    0% {
      text-shadow: 0 0 0px; }
    50% {
      text-shadow: 0 0 10px; }
    100% {
      text-shadow: 0 0 0px; } }
  @keyframes titileo_text_prod {
    0% {
      text-shadow: 0 0 0px; }
    50% {
      text-shadow: 0 0 10px; }
    100% {
      text-shadow: 0 0 0px; } }
  
  /*# sourceMappingURL=parallax.css.map */
  