
  .bars {
      display: block;
      height: 5px;
      margin: 0;
      overflow: hidden;
      text-align: center;
      width: 100%;
  }
  .bars ul {
      margin: 0;
      padding: 0;
  }
  .bars ul li {
      display: block;
      float: left;
      height: 5px;
      overflow: hidden;
      width: 20%;
  }
  .bars .cor-1 {
      background: #ED5565;
  }
  .bars .cor-2 {
      background: #f59120;
  }
  .bars .cor-3 {
      background: #FCBB42;
  }
  .bars .cor-4 {
      background: #94c23d;
  }
  .bars .cor-5 {
      background-color: #3498db;
  }
  
  .header-title {
    background: #00ab91;
    height: 200px;
    color: #efefef;
    line-height: 200px;
    text-align: center;
    font-size: 28px;
    font-weight:bold;
  }
  
  
 .first-child:last-child {
    padding-top:5%;
    padding-bottom:5%;
  }
  
  .content-block {
    font-family:'proxima-nova-soft';
  }
  .content-block p {
    font-weight:500;
  }
  
  @media screen and (max-width: 960px) {
      .bars {
          position: inherit;
      }
  }