

  #cell-menu, #header-menu {
    background-color: #28415F;
    color: #6585AC;
    transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    padding: 1em;
    z-index: 10;
    opacity: 0;
    position: fixed;
  }
  
  /* backdrop is the element just behind the modal view */
  .modal-backdrop {
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.01);
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  header .toolbar {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    padding: 0 2em;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    background: #15A4FA;
    color: rgba(255, 255, 255, 0.8);
    height: 2em;
  }
  header .toolbar i {
    font-size: 1em;
    margin-left: .4em;
  }
  header .toolbar span {
    font-size: 1em;
    font-weight: bold;
  }
  header nav {
    background: #28415F;
    height: 7em;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
  }
  header nav .nav-item {
    color: #6585AC;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    text-align: center;
  }
  header nav .nav-item:hover {
    cursor: pointer;
    color: #9BBADF;
  }
  header nav .nav-item i {
    font-size: 2em;
    height: 10px;
  }
  header nav .nav-item p {
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: bold;
    margin: 0;
  }
  
  .main-content {
    padding: 3em 2.5em;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    padding: 1em;
  }
  